body {
  
  margin: 0px;
  background-color: white;
  font-family: arial, sans-serif;
  font-size: small;
  min-width: 980px;
}
html, body {
  height: 100%;
}

/*Horizontal list in right-top*/
ul {
  position: absolute;
  right: 20px;
  top: 0;
  width: auto;
  height: 50px;
}

.li_nav {
  display: inline-block;
  margin-left: 20px;
  height: 50px;
  line-height: 32px;
  list-style-type: none;
}

.li_nav a {
  color: #222222;
  text-decoration: none;
}

.li_nav a:hover {
  color: #414141;
  text-decoration: underline;
}

#connexion {
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #4386f9;
  font-size: small;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  border: 1px solid ;
}

#connexion:active {
  background-color: #3d77d8;
  box-shadow: 0px 5px 1px #3367c1 inset;
}

#img_app {
  width: 25px;
  vertical-align: middle;
}

/*Google and this search form*/
#logo {
  display: inherit;
  clear: both;
  width: auto;
  padding-top: 205px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

#search_bar {
  display: block;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border-radius: 3px;
  border: 1px lightgray solid;
  box-shadow: 0px 1px 2px lightgrey;
}
/*div*/
#button_search{
  display: block;
  width: 297px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.button_search {
    font-family: arial, serif;
    font-weight: bold;
    font-size: small;
    color: gray;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    border: 1px solid #F4F4F4;
    border-radius: 2px;
}

.button_search:hover {
    color: black;
    border: 1px solid lightgray;
    background-color: #F2F2F2;
    box-shadow: 1px 1px 1px aliceblue inset;
    box-shadow: 1px 1px 1px lavender;
  }

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

#land, .footer {
  display: inherit;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F2F2F2;
  border: 1px solid lightgray;
  overflow: hidden;
}

#land {
  color: gray;
  font-size: 15px;
}

.info_left a {
  color: gray;
  text-decoration: none;
  margin-right: 35px;
  line-height: 45px;
}

.info_left {
  position: absolute;
  left: 20px;
}

.info_right {
  position: absolute;
  right: 20px
}

.info_right a {
  color: gray;
  text-decoration: none;
  margin-left: 35px;
  line-height: 45px;
}

.info_right a:hover, .info_left a:hover {
  text-decoration: underline;
}
